@import url(header.css);
@import url(aside.css);
@import url(footer.css);

* {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.wrapper1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 136px auto auto;
}


.content {
    display: grid;
    grid-template-columns: 1fr minmax(200px, 900px) minmax(auto, 300px) 1fr;
    grid-row-gap: 5px;
    grid-template-rows: minmax(500px, auto);
    background-color: #f8f2f2;
}

.content article {
    position: relative;
    justify-self: center;
    margin-top: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px rgba(226, 226, 226, .8);
}

.content article:last-child {
    margin-bottom: 15px
}

.content article h3:before {
    position: absolute;
    left: 2px;
    content: "";
    display: block;
    background: url("../assets/images/articles/check.jpg") no-repeat;
    height: 20px;
    width: 23px;

}

.content article a {
    margin-left: 27px;
    color: #559289;
}

.content article p,
.content article .time-creation,
.content article .comments,
.content article .rating {
    color: #777777;
    padding: 5px;
}

.content article .comments:hover {
    color: #4c4949;
}


main {
    /*grid-area: main;*/
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    justify-content: center;
    grid-gap: 15px;
}


@media all and (max-width: 790px) {
    footer .contacts {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    footer .fa-at {
        margin-top: 5px;
    }

    footer .fa-phone {
        margin: 5px 0 0 5px;
    }
}

@media all and (max-width: 593px) {
    footer .copyright {
        display: none;
    }

    .footer-content {
        grid-column: 2/3;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-right: 5px;
    }
}

@media all and (min-width: 533px) {

    #menuToggle input[type='checkbox'] {
        display: none;
    }

}

@media all and (max-width: 533px) {

    .header-content {
        grid-column: 2/3;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 130px 3fr 1fr;
    }

    .logo {
        width: 130px;
        justify-self: center;
        grid-column: 2;
        grid-row: 1/3;
    }

    .menu {
        grid-row: 1;
        grid-column: 1;
    }

    .social-icons {
        display: none;
    }

    .search {
        grid-column: 3;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: -95px;
        z-index: 1;

        -webkit-user-select: none;
        user-select: none;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;

        cursor: pointer;

        opacity: 0; /* hide this */
        z-index: 2; /* and place it over the hamburger */

        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        border-radius: 3px;
        background: #777777;
        z-index: 1;

        transform-origin: 4px 0px;

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    /**/
    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }


    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #777777;
    }

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    .navigation {
        position: absolute;
        width: 200px;
        height: 100vh;
        margin: -100px 0 0 -3px;
        padding: 50px;
        padding-top: 100px;
        display: block;
        /**/
        background: #f8f2f2;
        box-shadow: 2px 2px 5px 1px rgba(226, 226, 226, .8);
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        /**/
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        /**/
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .navigation li {
        display: block;
        padding: 10px 0;
        font-size: 22px;
    }

    #menuToggle input:checked ~ ul {
        transform: none;
    }

    footer .footer-logo {
        width: 93px;
        padding: 0;
        align-self: center;
        margin-left: 5px;
    }


    .content {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fill, minmax(255px, 1fr));
        /*grid-template-areas:*/
        /*        "aside"*/
        /*          "main";*/
    }

    main {
        grid-column: 1;
        /*grid-row: 1;*/
        justify-self: center;
    }

    aside {
        grid-column: 1;
        margin-top: 5px;
        padding-left: 0;
        display: grid;
        grid-template-rows: repeat(6, max-content);
        grid-template-columns: auto;
        font-family: Arial sans-serif;
    }

    aside .author {
        grid-column: 1;
        grid-row: 1;
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(2, auto);
    }

    aside .social-icons {
        grid-column: 1;
        display: grid;
        justify-content: center;
    }

    aside .subscribe {
        grid-column: 1;
    }

    aside .search {
        grid-column: 1;
        display: grid;
        justify-self: center;
    }

    aside .tags {
        grid-column: 1;

    }

    aside .last-comment {
        justify-self: center;
        grid-column: 1;
        min-width: 282px;
        height: 70px;
        margin-bottom: 10px;
    }

    aside .last-comment img {
        box-sizing: border-box;
        height: 70px;
        width: 60px;
    }

}