footer {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 1200px) 1fr;
    grid-template-rows: 80px;
    background-color: aqua;
}

.footer-content {
    grid-column: 2/3;
    background-color: aliceblue;
}