@import url(header.css);
@import url(aside.css);
@import url(footer.css);

* {
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 136px auto auto;
}



.content {
    display: grid;
    grid-template-columns: 1fr minmax(auto, 900px) minmax(auto, 300px) 1fr;
    grid-gap: 4px;
    grid-template-rows: minmax(500px, auto);
    background-color: #f8f2f2;
}

.content article {
    position: relative;
    margin-top: 5px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 1px rgba(226, 226, 226, .8);
}

.content article img {
    /*height/: 150px;*/
}

.content article h3:before {
    position: absolute;
    left: 2px;
    content: "";
    display: block;
    background: url("assets/images/articles/check.jpg") no-repeat;
    height: 20px;
    width: 23px;

}

.content article h3 {
    margin-left: 27px;
    color: #559289;
}

.content article p,
.content article .time-creation,
.content article .comments,
.content article .rating {
    color: #777777;
    padding: 5px;
}

.content article .comments:hover {
    color: #4c4949;
}


main {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 290px));
    grid-gap: 15px;
}


@media (min-width: 640px) {
    .grid {

    }
}